<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>sjcl</title>

    <script src="/static/sjcl.js"></script>
    <script src="/static/fileloader.js"></script>
    <script src="/static/index.js"></script>

    <link href="/static/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
    <section id="droparea">
        <h2>Drop your files here</h2>
        <p>
            Files will be uploaded to the server and you will 
            get a link from where you can download them.
        </p>
    </section>
    <section id="passwordarea">
        <h2>Encryption password</h2>
        <input type="text" id="password">
    </section>
    <section id="fileurlarea">
        <h2>Your uploaded files</h2>
        <ul id="fileurllist">
        </ul>
    </section>
</div>
</body>
</html>